@font-face {
  font-family: good;
  src: url(/Fonts/Good\ Old\ DOS\ Smooth.ttf);
}
@font-face {
  font-family: next;
  src: url(/Fonts/Next\ Bro.ttf);
}
@font-face {
  font-family: city;
  src: url(/Fonts/Citylist.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: url(bg-2.jpg);
  color: #262c3c;
}

.site-logo {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  font-family: good;
  font-size: 2.4em;

  line-height: 100px;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  font-family: next;
  line-height: 100px;
}

.menu-item {
  margin-left: 60px;
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
}

.header-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > span {
  font-family: next;
  font-size: 10vw;
  position: relative;
}

.footer {
  position: fixed;
  bottom: 5em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer span {
  position: relative;
  top: 30px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4em;
  transition: 1s;
  opacity: 0;
  font-family: city;
}
.footer span a {
  color: #262c3c;
  margin-left: 20px;
}
.menu-item a {
  color: #262c3c;
  text-decoration: none;
}

.footer-wrapper:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 110%;
  height: 100%;
  margin: 0 auto;
  transition: 1s;
}
